@import 'basic.scss';
/* Cart Icon: Push it to the right side of the header */
.dt-cart-block {
    float: right;
    padding-top: 4px;
    padding-left: 10px;
}

/* Site Name: Push it the right of the logo, and make it large */
.dt-site-name {
    display: inline;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
    font-size: 2.0em;
    font-weight: bold;
    vertical-align: middle;
}

/* Account Menu: Move it to the right side of the header bar and lay it out horizontally */
ul.dt-account-menu {
    float: right;
    padding-top: 10px;
}

ul.dt-account-menu li {
    display: inline;
    padding-left: 8px;
    padding-right: 8px;
}

/* Location Google Map: Set size */
iframe.dt-gmap {
    width: 550px;
    height: 350px;
}

/* Custom Ads: Change cursor into pointer when hovering over */
.dt-ad {
    cursor: pointer;
}

/* Products Grid: Style each item */
.dt-grid-col {
    border: lightgrey solid 1px;
    margin: 10px;
    padding: 10px;
    background-color: #fbfbfb;
    width: 30%;
}

@include media(">tablet") {

  .dt-grid-col {
    border: none;
    .views-field-body {
      padding: 0 5%;
      text-align: center;
    }
  }
}

@include media(">=phone", "<=tablet") {
  .dt-grid-col {
    width: 100%;
    text-align: center;
  }

  .views-field-body {
    padding: 0 5%;
  }
}

.dt-grid-col .views-field-title {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.dt-grid-col .views-field-field-images {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dt-grid-col .views-field-body {
    /* Nothing yet */
}

/* Keep slideshow image from scaling vertically, instead centering and croping it with a fixed height */
.dt-sshow-row img {
    object-fit: cover;
    height: 320px;
    width: 100%;
}

@media (max-width: 1200px) {
    /* Location Google Map: Shrink it to it doesn't spill over into the right column on smaller windows */
    iframe.dt-gmap{
        width: 450px;
        height: 350px;
    }
}

@media (max-width: 991px) {
    /* Site Name: Move it under the logo on smaller screens */
    .dt-site-name {
        display: block;
        font-size: 0.85em;
    }
}

@media (max-width: 480px) {

    /* Cart Icon: Fix vertical alignment on mobile devices */
    .dt-cart-block {
        padding-top: 2px;
    }

    /* Search Bar: Shorten it so it doesn't cover the cart icon */
    /* #header .search-block-form {
        float:none;
        width: 85%;
    } */

    /* Location Google Map: Shrink it so it fixs on an iPhone screen */
    iframe.dt-gmap{
        width: 315px;
        height: 250px;
    }
}

.dt-cart-block .cart-block--contents__links {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background-color: #723e2a;
  padding: 4px 7px;
  width: 25%;
  text-align: center;
}

.dt-cart-block .cart-block--contents__links:hover {
  background-color: #a57b55;
}

