/* line 35, ../sass/basic.scss */
.blue {
  color: #5f9ea0;
}

/* line 39, ../sass/basic.scss */
.grey {
  color: #dcdcdc;
}

/* line 43, ../sass/basic.scss */
.superLightBlue {
  color: #f0f8ff;
}

/* line 47, ../sass/basic.scss */
.superLightGrey {
  color: #f0ffff;
}

/* line 51, ../sass/basic.scss */
.lavender {
  color: #e6e6fa;
}

/* line 55, ../sass/basic.scss */
.lightBlue {
  color: #add8e6;
}

/* line 59, ../sass/basic.scss */
.lightRed {
  color: #f08080;
}

/* line 63, ../sass/basic.scss */
.lightGrey {
  color: #d3d3d3;
}

/* line 67, ../sass/basic.scss */
.white {
  color: #ffffff;
}

/* line 71, ../sass/basic.scss */
.black {
  color: #000000;
}

/* line 75, ../sass/basic.scss */
.lightGreen {
  color: #90ee90;
}

/* line 79, ../sass/basic.scss */
.lightYellow {
  color: #ffffe0;
}

/* line 83, ../sass/basic.scss */
.pearWhite {
  color: #fff8dc;
}

/* line 87, ../sass/basic.scss */
.lightBrown {
  color: #f5f5dc;
}

/* line 91, ../sass/basic.scss */
.page {
  background: #c1c9d0 !important;
}

/* line 95, ../sass/basic.scss */
.auto-center {
  margin: 0 auto;
}

/* line 99, ../sass/basic.scss */
.text-center {
  text-align: center;
}

@media (min-width: 321px) and (max-width: 768px) {
  /* line 3, ../sass/commerce-product.scss */
  .DT-product-item {
    padding: 3% 5%;
  }
  /* line 7, ../sass/commerce-product.scss */
  .DT-product-item .commerce-order-item-variation-cart-form-form {
    border-bottom: 1px solid #dddddd;
  }
  /* line 11, ../sass/commerce-product.scss */
  .DT-product-item .field--name-quantity .form-number {
    max-width: 80px;
  }
}

@media (min-width: 769px) {
  /* line 3, ../sass/commerce-product.scss */
  .DT-product-item {
    padding: 0 7.5%;
  }
  /* line 19, ../sass/commerce-product.scss */
  .DT-product-item .field__label {
    font-size: 16px;
    display: none;
  }
  /* line 24, ../sass/commerce-product.scss */
  .DT-product-item .field__items, .DT-product-item .field__item {
    font-size: 16px;
  }
  /* line 28, ../sass/commerce-product.scss */
  .DT-product-item .field {
    display: inline-block;
    text-align: center;
  }
  /* line 33, ../sass/commerce-product.scss */
  .DT-product-item .field--name-price {
    width: 16%;
  }
  /* line 35, ../sass/commerce-product.scss */
  .DT-product-item .field--name-price .field__label {
    display: none;
  }
  /* line 40, ../sass/commerce-product.scss */
  .DT-product-item .field--name-field-image {
    width: 16%;
  }
  /* line 44, ../sass/commerce-product.scss */
  .DT-product-item .field--name-attribute-cabinet-style {
    width: 16%;
  }
  /* line 48, ../sass/commerce-product.scss */
  .DT-product-item .field--name-attribute-cabinet-dimensions {
    width: 16%;
  }
  /* line 52, ../sass/commerce-product.scss */
  .DT-product-item .commerce-order-item-variation-cart-form-form {
    display: inline-block;
    width: 30%;
  }
  /* line 56, ../sass/commerce-product.scss */
  .DT-product-item .commerce-order-item-variation-cart-form-form .field--name-quantity {
    display: inline-block;
    width: 40%;
    text-align: center;
  }
  /* line 61, ../sass/commerce-product.scss */
  .DT-product-item .commerce-order-item-variation-cart-form-form .field--name-quantity .form-number {
    width: 100%;
  }
  /* line 66, ../sass/commerce-product.scss */
  .DT-product-item .commerce-order-item-variation-cart-form-form .form-actions {
    display: inline-block;
    width: 50%;
    text-align: center;
  }
}

/* line 79, ../sass/commerce-product.scss */
.DT-page-title .page-title .field--name-title {
  text-align: center;
}

/* line 85, ../sass/commerce-product.scss */
.DT-custom-product {
  padding-bottom: 7.5%;
}
/* line 88, ../sass/commerce-product.scss */
.DT-custom-product .field--name-title {
  text-align: center;
}
/* line 92, ../sass/commerce-product.scss */
.DT-custom-product div[class^='product--variation-field--variation'] {
  display: none;
}
@media (min-width: 769px) {
  /* line 97, ../sass/commerce-product.scss */
  .DT-custom-product .field.field--name-field-images {
    text-align: center;
  }
  /* line 101, ../sass/commerce-product.scss */
  .DT-custom-product .field--type-text-with-summary {
    margin: 30px 0;
    text-align: left;
    padding: 0 7.5%;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  /* line 109, ../sass/commerce-product.scss */
  .DT-custom-product .field.field--name-field-images {
    text-align: center;
    width: 100%;
  }
  /* line 114, ../sass/commerce-product.scss */
  .DT-custom-product .field--type-text-with-summary {
    margin: 20px 0;
    text-align: left;
    padding: 0 7.5%;
  }
  /* line 120, ../sass/commerce-product.scss */
  .DT-custom-product .field--name-field-ideal-for, .DT-custom-product .field--name-price, .DT-custom-product .field--name-field-image, .DT-custom-product .field--name-variations {
    text-align: center;
  }
  /* line 122, ../sass/commerce-product.scss */
  .DT-custom-product .field--name-field-ideal-for .field__label, .DT-custom-product .field--name-price .field__label, .DT-custom-product .field--name-field-image .field__label, .DT-custom-product .field--name-variations .field__label {
    font-size: 16px;
  }
  /* line 126, ../sass/commerce-product.scss */
  .DT-custom-product .field--name-field-ideal-for .field__items, .DT-custom-product .field--name-field-ideal-for .field__item, .DT-custom-product .field--name-price .field__items, .DT-custom-product .field--name-price .field__item, .DT-custom-product .field--name-field-image .field__items, .DT-custom-product .field--name-field-image .field__item, .DT-custom-product .field--name-variations .field__items, .DT-custom-product .field--name-variations .field__item {
    font-size: 16px;
  }
  /* line 131, ../sass/commerce-product.scss */
  .DT-custom-product .field--name-price .field__label {
    float: initial;
  }
}
