/* line 35, ../sass/basic.scss */
.blue {
  color: #5f9ea0;
}

/* line 39, ../sass/basic.scss */
.grey {
  color: #dcdcdc;
}

/* line 43, ../sass/basic.scss */
.superLightBlue {
  color: #f0f8ff;
}

/* line 47, ../sass/basic.scss */
.superLightGrey {
  color: #f0ffff;
}

/* line 51, ../sass/basic.scss */
.lavender {
  color: #e6e6fa;
}

/* line 55, ../sass/basic.scss */
.lightBlue {
  color: #add8e6;
}

/* line 59, ../sass/basic.scss */
.lightRed {
  color: #f08080;
}

/* line 63, ../sass/basic.scss */
.lightGrey {
  color: #d3d3d3;
}

/* line 67, ../sass/basic.scss */
.white {
  color: #ffffff;
}

/* line 71, ../sass/basic.scss */
.black {
  color: #000000;
}

/* line 75, ../sass/basic.scss */
.lightGreen {
  color: #90ee90;
}

/* line 79, ../sass/basic.scss */
.lightYellow {
  color: #ffffe0;
}

/* line 83, ../sass/basic.scss */
.pearWhite {
  color: #fff8dc;
}

/* line 87, ../sass/basic.scss */
.lightBrown {
  color: #f5f5dc;
}

/* line 91, ../sass/basic.scss */
.page {
  background: #c1c9d0 !important;
}

/* line 95, ../sass/basic.scss */
.auto-center {
  margin: 0 auto;
}

/* line 99, ../sass/basic.scss */
.text-center {
  text-align: center;
}

@media (min-width: 769px) {
  /* line 5, ../sass/commerce-product.scss */
  .field.field--name-field-images {
    text-align: center;
    width: 60%;
    float: left;
    display: inline-block;
  }

  /* line 12, ../sass/commerce-product.scss */
  .field--name-field-ideal-for, .field--name-price, .field--name-field-image, .field--name-variations {
    width: 40%;
    display: inline-block;
  }
  /* line 15, ../sass/commerce-product.scss */
  .field--name-field-ideal-for .field__label, .field--name-price .field__label, .field--name-field-image .field__label, .field--name-variations .field__label {
    font-size: 16px;
  }
  /* line 19, ../sass/commerce-product.scss */
  .field--name-field-ideal-for .field__items, .field--name-field-ideal-for .field__item, .field--name-price .field__items, .field--name-price .field__item, .field--name-field-image .field__items, .field--name-field-image .field__item, .field--name-variations .field__items, .field--name-variations .field__item {
    font-size: 16px;
  }
}
@media (min-width: 321px) and (max-width: 768px) {
  /* line 26, ../sass/commerce-product.scss */
  .field.field--name-field-images {
    text-align: center;
    width: 100%;
  }

  /* line 31, ../sass/commerce-product.scss */
  .field--name-field-ideal-for, .field--name-price, .field--name-field-image, .field--name-variations {
    text-align: center;
  }
  /* line 33, ../sass/commerce-product.scss */
  .field--name-field-ideal-for .field__label, .field--name-price .field__label, .field--name-field-image .field__label, .field--name-variations .field__label {
    font-size: 16px;
  }
  /* line 37, ../sass/commerce-product.scss */
  .field--name-field-ideal-for .field__items, .field--name-field-ideal-for .field__item, .field--name-price .field__items, .field--name-price .field__item, .field--name-field-image .field__items, .field--name-field-image .field__item, .field--name-variations .field__items, .field--name-variations .field__item {
    font-size: 16px;
  }
}
