/* Main Menu: Change its background color */
#main-menu .container {
    background-color: #a57b55;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bb9568), to(#a57b55));
    background: -webkit-linear-gradient(top, #bb9568, #a57b55);
    background: -moz-linear-gradient(top, #bb9568, #a57b55);
    background: -ms-linear-gradient(top, #bb9568, #a57b55);
    background: -o-linear-gradient(top, #bb9568, #a57b55);
}

#main-menu .container ul.menu li .is-active {
    background-color: #a01300;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#723e2a), to(#a57b55));
    background: -webkit-linear-gradient(top, #8a4d35, #723e2a);
    background: -moz-linear-gradient(top, #8a4d35, #723e2a);
    background: -ms-linear-gradient(top, #8a4d35, #723e2a);
    background: -o-linear-gradient(top, #8a4d35, #723e2a);
}

#main-menu .container ul.menu li.menu-item--active-trail > a {
    background-color: #a01300;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#723e2a), to(#a57b55));
    background: -webkit-linear-gradient(top, #8a4d35, #723e2a);
    background: -moz-linear-gradient(top, #8a4d35, #723e2a);
    background: -ms-linear-gradient(top, #8a4d35, #723e2a);
    background: -o-linear-gradient(top, #8a4d35, #723e2a);
}

#main-menu .container ul.menu li:hover > a, #main-menu .container ul.menu li:focus > a {
    background-color: #a01300;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#723e2a), to(#a57b55));
    background: -webkit-linear-gradient(top, #8a4d35, #723e2a);
    background: -moz-linear-gradient(top, #8a4d35, #723e2a);
    background: -ms-linear-gradient(top, #8a4d35, #723e2a);
    background: -o-linear-gradient(top, #8a4d35, #723e2a);
}

#main-menu .container ul.menu li{
    border-left: 1px solid #723e2a;
}

/* Sidebar Block Header: Change color */
.sidebar h2 {
    background-color: #a57b55;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bb9568), to(#a57b55));
    background: -webkit-linear-gradient(top, #bb9568, #a57b55);
    background: -moz-linear-gradient(top, #bb9568, #a57b55);
    background: -ms-linear-gradient(top, #bb9568, #a57b55);
    background: -o-linear-gradient(top, #bb9568, #a57b55);
}

/* Form Submit Button: Change color */
.form-actions .form-submit {
    background-color: #723e2a;
}

/* Slideshow Slide Label: Change background color */
#slideshow .container .views-field-title {
    background-color: rgba(114, 62, 42, 0.7);
}